[Unit]
Description=DNS TAPIR EDGE Policy Processor
After=network-online.target

[Service]
Type=simple
User=dnstapir-pop
Group=dnstapir
ExecStart=/usr/bin/dnstapir-pop

[Install]
WantedBy=multi-user.target
