name: Build container

on:
  workflow_run:
    workflows:
      - "Build"
    branches:
      - "main"
    types:
      - completed
  push:
    tags:
      - "v*.*.*"

jobs:
  container:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build and push container
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.1'
      - uses: ko-build/setup-ko@v0.7
      - run: ko build --bare
